.logo-font{
    font-weight: 300;
    font-size: 1.2rem;
}

.big-title-font{
    font-size: 3rem;
    font-weight: 800;
}

.big-text-font{
    font-size: 1.5rem;
    font-weight: 350;
}

.medium-title-font{
    font-weight: 800;
    font-size: 2.5rem;
}

.medium-text-font{
    font-size: 1.2rem;
    font-weight: 350;
}

.subtitle{
    font-size: 1rem;
    font-weight: 500;
}

.dark-text{
    font-size: 1rem;
    font-weight: 350;
    color: #A29BBF;
}