.main-footer{
    margin-top: 400px;
    height: 150px;
    background-color: #0C1821;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
}

.contact-div{   
    width: 75%;
    margin-top: 30px;
}

.contact-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    list-style-type:disc;
}

.contact-items li:hover{
    color: #A29BBF;
}