.skills-section{
    margin-top: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.skills-title{
    margin-bottom: 20px;
    text-align: center;
}
.skills-box{
    width: 45vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
@media (max-width:1100px) {
    .skills-box{
        width: 80%;
    }
}