.word-blob{
    padding: 5px 10px;
    width: fit-content;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: 400;
    background-color: #324a5f;
    transition: transform 0.2s;
}
.word-blob-big{
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 1.1rem;
}

.word-blob:hover{
    background-color: #3f5e78;
    transform: translateY(-2px);
}